:root {
  --gold-clr: #8d785b;
  --bg-clr: #181818;
  --layout-breakpoint-large: 1920px;
  --layout-breakpoint-medium: 1440px;
  --layout-breakpoint-small: 960px;
  --layout-breakpoint-xsmall: 480px;
}
// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #181818;
$white: #fff;
$black: #24242a;